body{
  background-color: brown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: Verdana;
  text-align: center;

}
h1{
  text-align: center;
  font: Verdana;
}
ul{
  color: rgb(10, 61, 14);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: Verdana;
  text-align: center;

}